.sidebar {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100% - 52px);
    width: 60%;
    min-width: 350px;
    z-index: 100;
    background: #f1f1f1;
    // border-left: 2px solid black;
    .close {
        font-size: 40px;
    }
}

@media (min-width: 768px) {
    .sidebar {
        height: 100%;
    }
}

.result {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    bottom: 5px;
}