<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>AppointmentComponent</h2>
    </div>
</div>
<!-- New Component -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-new (appointmentAdded)="handleAppointmentCreation($event)"></app-new>
    </div>
</div>
<!-- Router Outlet -->
<div class="row" *ngIf="!displayError">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <router-outlet></router-outlet>
    </div>
</div>
<!-- Error Message -->
<div class="row" *ngIf="displayError">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well error-well">
            Fehler beim Laden der Termine.
        </div>
    </div>
</div>